.DS_Store
*.Rproj
*.log
*.gz
*.Rproj
*.tex
*.tex.blg
*.tex.bbl
*.run.xml
*.aux
*.bcf
.Rproj.user
.Rhistory
.RData
.Ruserdata
*_cache*
*_files/
scripts/*_files/
*.pdf
*.rds
r-references.bib
scripts/debugging-validation.R
scripts/debugging-validation.Rmd
debug.Rmd
