.DS_Store
*.Rproj
*.log
*.gz
*.Rproj
*.tex
*.run.xml
*.aux
*.bcf
*.bbl
*.toc
*.blg
*.fls
.Rproj.user
.Rhistory
.RData
.Ruserdata
*_cache*
*_files/
scripts/*_files/
*.pdf
*.rds
r-references.bib
scripts/debugging-validation.R
scripts/debugging-validation.Rmd
debug.Rmd
